/*menu bar*/
*{
    margin: 0;
    padding: 0;
}
.menu-bar{
    background-color:#ced6e0 ;
    display: flex;
}
.menu-bar div{
    width: 50%;
}
#blog-name{
    font-family: 'Festive', cursive;
   font-size: 50px;
   text-align: center;
}
#main-menu{
    text-align: center;
    margin-top: 15px;
}

#main-menu ul li{
    display: inline-block;
    margin-left: -4;
}
#main-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    padding: 10px 30px;

}
/* First container*/
.common{
    font-family: 'Roboto Mono', monospace; 
    display: flex;
}
.colorspan{
    color:#7D3985 ;
}


.secdivone{
    width: 40%;
    margin-left: 40px;
    padding-left: 5%;
}
.secdivone img{
    width: 70%;
}
.secdivone h1{
    padding: 30px 0px;
    font-size: 40px;
}
.start-button{
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    background-image: linear-gradient(to right,#cc2b5e,#753a88);
    color: #fff;
}

